.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Use full viewport height */
}

nz-table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center !important; /* Force text to be centered */
  vertical-align: middle !important; /* Force vertical centering */
}

table th {
  background-color: #f4f4f4;
  cursor: pointer;
  width: 25%; /* Distribute columns evenly */
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.invalid {
  background-color: #f8d7da;
}

.invalid-website {
  background-color: #fff3cd;
}

.guide {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  flex-shrink: 0; /* Prevent the guide from shrinking */
}

.guide p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid black; /* Added border */
}

.color-box.invalid {
  background-color: #f8d7da;
}

.color-box.invalid-website {
  background-color: #fff3cd;
}

/* Modal styles */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Make modal content responsive */
  max-width: 500px; /* Set a max width for larger screens */
  max-height: 80vh; /* Ensure modal content fits within the viewport */
  overflow-y: auto; /* Allow scrolling within the modal if content overflows */
}

/* Ensure the modal behaves well on mobile devices */
@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* Set width to 90% on mobile screens */
    max-height: 70vh; /* Adjust modal max height on mobile */
  }

  .container {
    height: auto; /* Auto height for content to fit */
    overflow-y: auto; /* Ensure vertical scrolling */
  }

  table-wrapper {
    max-height: 50vh; /* Adjust max height to leave room for the guide */
  }

  .guide {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%; /* Set width to 95% on very small screens */
    margin-top: 20%; /* Increase top margin on very small screens */
    max-height: 70vh; /* Adjust modal max height on small screens */
  }

  .container {
    height: auto;
    overflow-y: auto;
  }

  table-wrapper {
    max-height: 50vh;
  }

  .guide {
    margin-top: 10px;
  }
}
