<div #homeContainer class="home-container">
  <div class="welcome-message">
    <h1>Welcome!</h1>
    <p>תכלס זה עמוד בדיקה אבל תרגישו חופשי ללחוץ על דברים</p>
  </div>
  
  <div class="buttons">
    <button class="cool-button" (click)="showAlert()">Dev Task!</button>
    <button class="cool-button" (click)="changeBackground()">Change Background</button>
    <button class="cool-button" (click)="rotateText()">לחצו עליי</button>
  </div>

  <div class="interactive-elements">
    <h2 id="rotating-text">אל תלחצו על הכפתור שאומר "לחצו עליי" - תכבדו</h2>
  </div>
</div>
